<!doctype html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{{ curent_page }} | Wifi Sprinler</title>
		<meta name="description" content="{{ self._TemplateReference__context.name }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/wifi-sprinkler.css') }}">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link href="https://fonts.googleapis.com/css?family=Encode+Sans" rel="stylesheet">
		<!-- Place favicon.ico in the root directory -->
		<link rel="shortcut icon" href="favicon.ico">
	</head>
	<body class="home with-promo">
		<header class="fixed-top">
			<div class="headerLightBox">
				<div class="container" >
					<nav class="navbar navbar-toggleable-md navbar-light">
						<div class="logo">
							<a class="navbar-brand" href="/">
								<h5>Wifi Sprinkler</h6>
								<h6>Pi Time: <Pi Time: <span id='time_value' class="label" ></h6>
								<span class="current_page" style="">{{curent_page}}</span>
							</a>
						</div>
						<div class="navigation">
							<ul class="nav navbar-left">
								<li class="nav-item {{'active' if curent_page=='Home'}} tf-menu">
									<a class="nav-link" href="/">Home</a>
								</li>
								<li class="nav-item {{'active' if curent_page=='Programs'}} tf-menu">
									<a class="nav-link" href="/programs">Programs</a>
								</li>
								<li class="nav-item {{'active' if curent_page=='Schedules'}} tf-menu">
									<a class="nav-link" href="/schedules">Schedules</a>
								</li>
								<li class="nav-item {{'active' if curent_page=='Adjustments'}} tf-menu">
									<a class="nav-link" href="/adjustments">Adjustments</a>
								</li>
								<li class="nav-item {{'active' if curent_page=='Restrictions'}} tf-menu">
									<a class="nav-link" href="/restrictions">Restrictions</a>
								</li>
							</ul>
							<ul class="nav navbar-right justify-content-end">
								<li>
									<button class="btn btn-outline-success my-2 my-sm-0 start_stop_btn" type="button" id="">Run</button>
								</li>
								{% if next_progam_run.program is not none %}
								<li>
									<div style="padding-left: 10px;">
										<span class="middle">
										{{next_progam_run.program}}{{' @ ' + next_progam_run.run_datetime|datetimeformat if next_progam_run.program_id != 0 else ''}}
									</span>
									</div>
								</li>
								{% endif %}
							</ul>
						</div>
					</nav>

					<a href="#" class="toggler"></a>
				</div>
			</div>
		</header>
		<div id="zoom-container">
		</div>

		<div class="mobileMenu" style="height: 441px;">
			<div id="slide-menu" class="slinky-menu" style="transition-duration: 300ms;">
				<ul class="list-unstyled" style="transition-duration: 300ms;">
					<li class="nav-item  mobile-menu">
						<a href="/">Home</a>
					</li>
					<li class="nav-item  mobile-menu">
						<a href="/programs">Programs</a>
					</li>
					<li class="nav-item  mobile-menu">
						<a href="/schedules">Schedules</a>
					</li>
					<li class="nav-item  mobile-menu">
						<a href="/adjustments">Adjustments</a>
					</li>
					<li class="nav-item  mobile-menu">
						<a href="/restrictions">Restrictions</a>
					</li>
					<li>
						<div class="center" style="width:100%;">
							<button class="btn btn-outline-success my-2 my-sm-0 start_stop_btn" type="button" style="">Run</button>
							{% if next_progam_run.program is not none %}
									<span class="middle" style="font-size: 0.9rem; padding-left: 10px;">{{next_progam_run.program}}{{' @ ' + next_progam_run.run_datetime|datetimeformat if next_progam_run.program_id != 0 else ''}}</span>
							{% endif %}
						</div>
					</li>
				</ul>
			</div>
		</div>


		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>

		{% block body %}{% endblock %}

		<script>
			$(document).ready(function() {

				var slinky = $("#slide-menu").slinky({
					title: true,
					label: ""
				});
				var socket = io.connect();
				socket.on('connect', function(e) {
					console.log("Connected!");
				});

				// Setup live_data event receiver.
				var liveDataSource = new EventSource("{{ url_for('live_data') }}");
				liveDataSource.onmessage = function(e) {
					var data = $.parseJSON(e.data);
					$('#time_value').text(data.time);
					if (data.job == '0'){
						$(".start_stop_btn").text("Run");
						$(".start_stop_btn").removeClass('btn-danger');
						$(".start_stop_btn").addClass('btn-outline-success');
					} else {
						$(".start_stop_btn").text("Stop");
						$(".start_stop_btn").addClass('btn-danger');
						$(".start_stop_btn").removeClass('btn-outline-success');
					}
				}

				$(".start_stop_btn").click( function() {
					console.log("start_stop_btn click");
					if ($(this).hasClass('btn-danger') ){
						$(this).text("Run");
						$(this).removeClass('btn-danger');
						$(this).addClass('btn-outline-success');
						socket.emit('stop_schedule');
					}else{
						$(this).text("Stop");
						$(this).addClass('btn-danger');
						$(this).removeClass('btn-outline-success');
						socket.emit('run_schedule');
					}
				});

				var active_menu = $(".navigation .navbar-left > li.active");
				$(".tf-menu").mouseover(function() {
					$(".navigation .navbar-left > li").removeClass("active");
					$(this).addClass("active");
				});
				$(".tf-menu").mouseout(function() {
					$(".navigation .navbar-left > li").removeClass("active");
					active_menu.addClass("active");
				});

				$(".toggler").click(function(e) {
					e.preventDefault();
					if ($(".mobileMenu").hasClass("slide-in")) {
						$(this).removeClass("open");
						$(".mobileMenu").removeClass("slide-in");
						$(".mobileMenu").addClass("slide-out");
						$("html").removeClass("no-scroll")
					} else {
						if ($(".mobileCart").hasClass("slide-in")) {
							$(".cartMobileClose").trigger("click")
						}
						$(".mobileMenu").scrollTop(0);
						$(this).addClass("open");
						$(".mobileMenu").removeClass("slide-out");
						$(".mobileMenu").addClass("slide-in");
						$("html").addClass("no-scroll")
					}
				});

			});

! function(e) {
    var t;
    e.fn.slinky = function(a) {
        var s = e.extend({
                label: "Back",
                title: !1,
                speed: 300,
                resize: !0
            }, a),
            n = e(this),
            i = n.children().first();
        n.addClass("slinky-menu");
        var r = function(e, t) {
                var a = Math.round(parseInt(i.get(0).style.left)) || 0;
                i.css("left", a - 100 * e + "%"), "function" == typeof t && setTimeout(t, s.speed)
            },
            l = function(e) {
                n.height(e.outerHeight())
            },
            d = function(e) {
                n.css("transition-duration", e + "ms"), i.css("transition-duration", e + "ms")
            };
        if (d(s.speed), e("a + ul", n).prev().addClass("next"), e("li > ul", n).prepend('<li class="header">'), s.title === !0 && e("li > ul", n).each(function() {
                var t = e(this).parent().find("a").first().text(),
                    a = e("<h2>").text(t);
                e("> .header", this).append(a)
            }), s.title || s.label !== !0) {
            var o = e("<a>").text(s.label).prop("href", "#").addClass("back");
            e(".header", n).append(o)
        } else e("li > ul", n).each(function() {
            var t = e(this).parent().find("a").first().text(),
                a = e("<a>").text(t).prop("href", "#").addClass("back");
            e("> .header", this).append(a)
        });
        e("a", n).on("click", function(a) {
            if (t + s.speed > Date.now()) return !1;
            t = Date.now();
            var i = e(this);
            (/#/.test(this.href) || i.hasClass("next")) && a.preventDefault(), i.hasClass("next") ? (n.find(".active").removeClass("active"), i.next().show().addClass("active"), r(1), s.resize && l(i.next())) : i.hasClass("back") && (r(-1, function() {
                n.find(".active").removeClass("active"), i.parent().parent().hide().parentsUntil(n, "ul").first().addClass("active")
            }), s.resize && l(i.parent().parent().parentsUntil(n, "ul")))
        }), this.jump = function(t, a) {
            t = e(t);
            var i = n.find(".active");
            i = i.length > 0 ? i.parentsUntil(n, "ul").length : 0, n.find("ul").removeClass("active").hide();
            var o = t.parentsUntil(n, "ul");
            o.show(), t.show().addClass("active"), a === !1 && d(0), r(o.length - i), s.resize && l(t), a === !1 && d(s.speed)
        }, this.home = function(t) {
            t === !1 && d(0);
            var a = n.find(".active"),
                i = a.parentsUntil(n, "li").length;
            i > 0 && (r(-i, function() {
                a.removeClass("active")
            }), s.resize && l(e(a.parentsUntil(n, "li").get(i - 1)).parent())), t === !1 && d(s.speed)
        }, this.destroy = function() {
            e(".header", n).remove(), e("a", n).removeClass("next").off("click"), n.removeClass("slinky-menu").css("transition-duration", ""), i.css("transition-duration", "")
        };
        var c = n.find(".active");
        return c.length > 0 && (c.removeClass("active"), this.jump(c, !1)), this
    }
}(jQuery);			
		</script>